# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# MySQL binary logs
*mysql-bin.000001*
*mysql-bin.000002*
*mysql-bin.000003*
*mysql-bin.*